#marksheet
{
    border: 2px solid black;
    width: 500px;
    height: 500px;
    margin: 10px auto;
    text-align: left;
    background-color: aqua;
}
#marksheet input
{
    margin-left: 25px;
}
#logo
{

    margin: 20px auto;
    display: flex;
    justify-content: center;

}
#logo img
{
    width: 70px;
}
#head
{
    text-align: center;
}
#btn
{
margin-top: 20px;
}